* {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  cursor: url("../src/images/cursor.png"), auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}